<h2 style="text-align:center">&nbsp;</h2>

<h2 style="text-align:center">&nbsp;</h2>

<h2 style="text-align:center"><span style="font-size:28px">About Us</span></h2>

<h2 style="text-align:center">&nbsp;</h2>

<h2 style="text-align:center"><u>We take a holistic approach to health</u></h2>

<p>&nbsp;</p>

<p style="text-align:center">Our core values revolve around Simplicity, Quality, &amp; Transparency.</p>

<p style="text-align:center">We are commited in everything we do and our vision to have increase accessibility in supplements for all patients without transport needs.</p>

<p style="text-align:center">&nbsp;</p>

<h2 style="text-align:center"><u>We aim to please</u></h2>

<p style="text-align:center">Welcome to Vitamin Yes! We are a personalized service&nbsp;that takes the trouble and guesswork out of staying healthy, and have created the easiest, most convenient way to purchase and manage your daily vitamin intake.<br />
<br />
We provide a variety of information on&nbsp;vitamins and provide a subscription to have the vitamins show up in your front door step.&nbsp;Whether you choose to create your own list of vitamins or use our Health Assessment to provide a curated list of recommendations, you can rest assured that you are getting the best supplements, backed by science and extensive research.<br />
<br />
When you check out, your order is personally reviewed and verified before being packed by our pharmaceutical grade packing machine.<br />
<br />
Inside each box, you will find a personalized supplement chart that outlines all the important information you need to know about your packs and what&#39;s inside.<br />
<br />
Going away or falling behind? Not to worry, you can manage your subscription and delivery preferences in our customer portal.</p>

<p style="text-align:center">&nbsp;</p>

<h2 style="text-align:center"><u>Trusted Professionals</u></h2>

<p style="text-align:center">There are many views and approaches to health which is why it was so important to us to create a great team of wellness minded individuals from different disciplines and diverse specialties.<br />
<br />
<br />
Whether it&#39;s through our collaborative efforts in building a comprehensive and extensive Health Assessment to provide you with the best personalized supplement regimen or through our individual abilities to assist you one on one in our own disciplines, we are here for you and are excited to get to know you better.</p>

<h2 style="text-align:center">&nbsp;</h2>

<h2 style="text-align:center">&nbsp;</h2>

<h2 style="text-align:center"><u>Premium Quality Brands</u></h2>

<p>Health and wellness icons you can count on</p>

<p>&nbsp;</p>
