<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
</head>
<body>
<form>
    <label for="sleep">Number of hours you slept last night:</label>
    <input type="number" id="sleep" name="sleep"><br>
    <label for="exercise">Number of hours you've exercised today:</label>
    <input type="number" id="exercise" name="exercise">
    <label for="calories">Approximate number of (kilo)calories you've eaten today:</label><br>
    <input type="number" id="calories" name="calories">
    <input type="submit" value="Submit">
</form>
</body>
</html>