<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Iodine</title>
</head>
<body>
    <div><a href="https://ods.od.nih.gov/factsheets/Iodine-HealthProfessional/">Source (nih.gov)</a></div>
    <div><hi>Iodine is an important part of your diet</hi></div>
    <p>Hello {{studentName}}, did you know?
        Iodine is a mineral found in some foods. The body needs iodine to make thyroid hormones. These hormones control the body’s metabolism and many other important functions.  <br>
        <h2>Doses of Iodine by Age</h2>

        <table>
          <tr>
            <th>Age</th>
            <th>Male</th>
            <th>Female</th>
            <th>Pregnancy</th>
            <th>Lactation</th>
          </tr>
          <tr>
            <td>Birth-6 months</td>
            <td>110 mcg*</td>
            <td>110 mcg*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7-12 months*</td>
            <td>130 mcg*</td>
            <td>130 mcg*</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1-3 years</td>
            <td>90 mcg</td>
            <td>90 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4-8 years</td>
            <td>90 mcg</td>
            <td>90 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9-13 years</td>
            <td>120 mcg</td>
            <td>120 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14-18 years</td>
            <td>150 mcg</td>
            <td>150 mcg</td>
            <td>220 mcg</td>
            <td>290 mcg</td>
          </tr>
          <tr>
            <td>19+ years</td>
            <td>150 mcg</td>
            <td>150 mcg</td>
            <td>220 mcg</td>
            <td>290 mcg</td>
          </tr>
          
        </table>
	
    </p>
    <form>
      <input type="button" value="Go back!" onclick="history.back()">
     </form>
</body>
</html>