<style>
	.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		text-align:center;
		padding:5px;
	}
</style>
<table class="demo">
	<caption>Vegetables</caption>
	<thead>
	<tr>
		<th><br></th>
		<th>Vitamin A</th>
		<th>Vitamin B&nbsp;</th>
		<th>Vitamin C</th>
		<th>Vitamin D</th>
		<th>Vitamin E</th>
		<th>Vitamin K</th>
		<th>Vitamin B6</th>
		<th>Vitamin B12</th>
		<th>Iron</th>
		<th>Calcium<br></th>
		<th>Magnesium</th>
		<th>Folic Acid</th>
		<th>Iodine</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Asparagus (93g)</td>
		<td>10%DV</td>
		<td>-</td>
		<td>15%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>2%DV</td>
		<td>2%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>&nbsp;Bell Pepper (148g)</td>
		<td>4%DV</td>
		<td>-</td>
		<td>190%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>4%DV</td>
		<td>2%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>Broccoli (148g)</td>
		<td>6%DV</td>
		<td>-</td>
		<td>220%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>6%DV</td>
		<td>6%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>Carrot (78g)</td>
		<td>110%DV</td>
		<td>-</td>
		<td>10%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>2%DV</td>
		<td>2%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>&nbsp;Cauliflower (99g)</td>
		<td>-</td>
		<td>-</td>
		<td>100%DV</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>2%DV</td>
		<td>2%DV</td>
		<td></td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>Celery (110g)&nbsp;</td>
		<td>10%DV&nbsp;<br></td>
		<td>&nbsp;-</td>
		<td>15%DV&nbsp;<br></td>
		<td>&nbsp;-</td>
		<td>-&nbsp;</td>
		<td>&nbsp;-</td>
		<td>&nbsp;-</td>
		<td>-&nbsp;</td>
		<td>2%DV&nbsp;<br></td>
		<td>&nbsp;4%DV</td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
	</tr>
	<tr>
		<td>Cucumber(99g)&nbsp;</td>
		<td>&nbsp;4%DV</td>
		<td>&nbsp;-</td>
		<td>10%DV&nbsp;<br></td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
		<td>&nbsp;-</td>
		<td>&nbsp;-</td>
		<td>-&nbsp;</td>
		<td>2%DV&nbsp;<br></td>
		<td>&nbsp;2%DV</td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
	</tr>
	<tr>
		<td>Green (Snap) Beans (83g)&nbsp;</td>
		<td>4%DV&nbsp;<br></td>
		<td>-&nbsp;</td>
		<td>10%DV&nbsp;<br></td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
		<td>&nbsp;-</td>
		<td>-&nbsp;</td>
		<td>&nbsp;-</td>
		<td>2%DV&nbsp;<br></td>
		<td>4%DV&nbsp;<br></td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
	</tr>
	<tr>
		<td>Green Cabbage<br>(84g)&nbsp;</td>
		<td>&nbsp;-</td>
		<td>&nbsp;-</td>
		<td>&nbsp;70%DV</td>
		<td>-&nbsp;</td>
		<td>&nbsp;-</td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
		<td>&nbsp;-</td>
		<td>&nbsp;2%DV</td>
		<td>4%DV&nbsp;<br></td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
		<td>-&nbsp;</td>
	</tr>
	<tbody>
</table>