<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Vitamin D</title>
</head>
<body>
    <div><a href="https://ods.od.nih.gov/factsheets/VitaminD-HealthProfessional/">Source (nih.gov)</a></div>
    <div><hi>Vitamin D is an important part of your diet</hi></div>
    <p>Hello {{studentName}}, did you know?
        Vitamin D is a fat-soluble vitamin that is naturally present in a few foods, added to others, and available as a dietary supplement.<br>
        It is also produced endogenously when ultraviolet (UV) rays from sunlight strike the skin and trigger vitamin D synthesis.<br>
        <br>
        Age	            Male	   Female	  Pregnancy	    Lactation<br>
        0-12 months*    10 mcg     10 mcg<br>
        1–13 years	    15 mcg     15 mcg<br>
        14–18 years	    15 mcg     15 mcg     15 mcg        15 mcg<br>
        19–50 years	    15 mcg     15 mcg     15 mcg        15 mcg<br>
        51–70 years	    15 mcg     15 mcg<br>
        >70 years	    20 mcg     20 mcg<br>
    </p>
</body>
</html>