<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Vitamin E</title>
</head>
<body>
    <div><a href="https://ods.od.nih.gov/factsheets/VitaminE-HealthProfessional/">Source (nih.gov)</a></div>
    <div><hi>Vitamin E is an important part of your diet</hi></div>
    <p>Hello {{studentName}}, did you know?
        Vitamin E is found naturally in some foods, added to others, and available as a dietary supplement. “Vitamin E” is the collective name for a group of fat-soluble compounds with distinctive antioxidant activities <br>
        <h2>Doses of Vitamin E by Age</h2>

        <table>
          <tr>
            <th>Age</th>
            <th>Male</th>
            <th>Female</th>
            <th>Pregnancy</th>
            <th>Lactation</th>
          </tr>
          <tr>
            <td>0-6 months*</td>
            <td>4 mcg</td>
            <td>4 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7-12 months*</td>
            <td>5 mcg</td>
            <td>5 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1-3 years</td>
            <td>6 mcg</td>
            <td>6 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4-8 years</td>
            <td>7 mcg</td>
            <td>7 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9-13 years</td>
            <td>11 mcg</td>
            <td>11 mcg</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14+ years</td>
            <td>15 mcg</td>
            <td>15 mcg</td>
            <td>15 mcg</td>
            <td>19 mcg</td>
          </tr>
          
        </table>
    
    </p>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
       </form>
</body>
</html>