<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Vitamin A</title>
</head>
<body>
    <div><a href="https://ods.od.nih.gov/factsheets/VitaminA-HealthProfessional/">Source (nih.gov)</a></div>
    <div>Vitamin A is involved in immune function, cellular communication, growth and development, and male and female reproduction</div>
    <p>Vitamin A supports cell growth and differentiation, playing a critical role in the normal formation and maintenance
      of the heart, lungs, eyes, and other organs [1,2]. Vitamin A is also critical for vision as an essential component of
      rhodopsin, the light-sensitive protein in the retina that responds to light entering the eye, and because it supports
      the normal differentiation and functioning of the conjunctival membranes and cornea<br><br>
        Age	            Male	   Female	  Pregnancy	    Lactation<br>
        0-6 months      400 mcg     400 mg<br>
        7–12 months	    500 mcg     500 mg<br>
        1–3 years	    300 mcg     300 mg<br>
        4–8 years	    400 mcg     400 mg<br>
        9–13 years	    600 mcg     600 mg<br>
        14–18 years	    900 mcg     900 mg     750 mcg     1200 mcg<br>
        19+ years	    900 mcg     900 mg     770 mcg     1300 mcg<br>
    </p>
</body>
</html>