{% extends "base.html" %}

{% block title %} Vitamins {% endblock %}
{% block content%}

<h1> Vitamins</h1>
<ul>
  <li><a href="{{ url_for('route.vitaminC') }}">Vitamin C</a></li>
  <li><a href="{{ url_for('route.vitaminD') }}">Vitamin D</a></li>
  <li><a href="{{ url_for('route.vitaminE') }}">Vitamin E</a></li>
  <li><a href="{{ url_for('route.vitaminK') }}">Vitamin K</a></li>
  <li><a href="{{ url_for('route.Calcium') }}">Calcium</a></li>
  <li><a href="{{ url_for('route.FolicAcid') }}">Folic Acid</a></li>
  <li><a href="{{ url_for('route.Iodine') }}">Iodine</a></li>
  <li><a href="{{ url_for('route.Magnesium') }}">Magnesium</a></li>
  <li><a href="{{ url_for('route.VitaminB2') }}">Vitamin B2</a></li>
  <li><a href="{{ url_for('route.VitaminA') }}">Vitamin A</a></li>
  <li><a href="{{ url_for('route.VitaminB6') }}">Vitamin B6</a></li>
  <li><a href="{{ url_for('route.VitaminB12') }}">Vitamin B12</a></li>
</ul>

 
{% endblock %}
