<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Calcium</title>
</head>
<body>
    <div><a href="https://ods.od.nih.gov/factsheets/Calcium-HealthProfessional/">Source (nih.gov)</a></div>
    <div><hi>Calcium is an important part of your diet</hi></div>
    <p>Hello {{studentName}}, did you know?
        A mineral found throughout the body. Calcium is needed for healthy bones and teeth, for nerves and enzymes to function properly, and for blood clotting. Calcium is found in some foods, including milk, yogurt, and cheese, and in Chinese cabbage, kale, broccoli and fortified foods, such as many drinks, tofu, and cereals.  <br>
        <h2>Doses of Calcium by Age</h2>

<table>
  <tr>
    <th>Age</th>
    <th>Male</th>
    <th>Female</th>
    <th>Pregnancy</th>
    <th>Lactation</th>
  </tr>
  <tr>
    <td>0-6 months*</td>
    <td>200 mg</td>
    <td>200 mg</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>7-12 months*</td>
    <td>260 mg</td>
    <td>260 mg</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>1-3 years</td>
    <td>700 mg</td>
    <td>700mg</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>4-8 years</td>
    <td>1,000 mg</td>
    <td>1,000 mg</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>9-13 years</td>
    <td>1,300 mg</td>
    <td>1,300 mg</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>14-18 years</td>
    <td>1,300 mg</td>
    <td>1,300 mg</td>
    <td>1,300 mg</td>
    <td>1,300 mg</td>
  </tr>
  <tr>
    <td>19-50 years</td>
    <td>1,000 mg</td>
    <td>1,000 mg</td>
    <td>1,000 mg</td>
    <td>1,000 mg</td>
  </tr>
  <tr>
    <td>51-70 years</td>
    <td>1,000 mg</td>
    <td>1,200 mg</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>>70+ years</td>
    <td>1,200 mg</td>
    <td>1,200 mg</td>
    <td></td>
    <td></td>
  </tr>
</table>
    </p>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
       </form>
    
</body>
</html>