<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Folate</title>
</head>
<body>
    <div><a href="https://ods.od.nih.gov/factsheets/Folate-HealthProfessional/">Source (nih.gov)</a></div>
    <div><hi>Folate is an important part of your diet</hi></div>
    <p>Hello {{studentName}}, did you know?
        A general term for the various forms of folic acid, a B vitamin. Folate is needed to make DNA, RNA, and amino acids. <br>
        It occurs naturally in foods and is found in leafy green vegetables (such as spinach and turnip greens), fruits (such as citrus fruits and juices), and dried beans and peas. <br>
        <br>
        <h2>Doses of Folic Acid by Age</h2>

        <table>
          <tr>
            <th>Age</th>
            <th>Male</th>
            <th>Female</th>
            <th>Pregnancy</th>
            <th>Lactation</th>
          </tr>
          <tr>
            <td>Birth-6 months</td>
            <td>65 mcg DFE </td>
            <td>65 mcg DFE </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>7-12 months*</td>
            <td>80 mcg DFE </td>
            <td>80 mcg DFE </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>1-3 years</td>
            <td>150 mcg DFE </td>
            <td>150 mcg DFE </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4-8 years</td>
            <td>200 mcg DFE </td>
            <td>200 mcg DFE </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>9-13 years</td>
            <td>300 mcg DFE </td>
            <td>300 mcg DFE </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14-18 years</td>
            <td>400 mcg DFE </td>
            <td>400 mcg DFE </td>
            <td>600 mcg DFE </td>
            <td>500 mcg DFE </td>
          </tr>
          <tr>
            <td>19+ years</td>
            <td>400 mcg DFE </td>
            <td>400 mcg DFE </td>
            <td>600 mcg DFE </td>
            <td>500 mcg DFE </td>
          </tr>
          
        </table>
        
    </p>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
       </form>
</body>
</html>