<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Vitamin C</title>
</head>
<body>
    <div><a href="https://ods.od.nih.gov/factsheets/VitaminC-HealthProfessional/">Source (nih.gov)</a></div>
    <div>Make sure to eat plenty of Vitamin C or you'll get scurvy yar har har</div>
    <p>Hello {{studentName}}, did you know? <br>
        Vitamin C, also known as L-ascorbic acid, is a water-soluble vitamin that is naturally present in some foods,<br>
        added to others, and available as a dietary supplement.<br>
        Humans, unlike most animals, are unable to synthesize vitamin C endogenously, so it is an essential dietary component.<br>
        <br>
        Age	            Male	   Female	  Pregnancy	    Lactation<br>
        0-6 months          40 mg     40 mg<br>
        7–12 months	    50 mg     50 mg<br>
        1–3 years	    15 mg     15 mg<br>
        4–8 years	    25 mg     25 mg<br>
        9–13 years	    45 mg     45 mg<br>
        14–18 years	    75 mg     65 mg     80 mg     115 mg<br>
        19+ years	    90 mg     75 mg     85 mg     120 mg<br>
    </p>
</body>
</html>