<!DOCTYPE html>
<style>
    table,th,td {
        border:2px solid black;
    }
    td {
        padding: 6px;
    }

</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Vitamin B12</title>
</head>
<body>
<div><a href="https://ods.od.nih.gov/factsheets/VitaminC-HealthProfessional/">Source (nih.gov)</a></div>
<div>Make sure to eat plenty of Vitamin 12 or you'll get scurvy yar har har</div>
<h2>Vitamin 12 (cobalamin)</h2>
<p>What is Vitamin B12? <br>
<dd>Vitamin B12, also known as cobalamin, is a water-soluble vitamin that is naturally present in some foods,<br>
    added to others, and available as a dietary supplement.<br>
    Common sources of Vitamin B12 is found in: fish, meat, poultry, eggs, and dairy products;<br>
    fortifed cereals and fortified yeast are included.<br>
</dd>
<p>
    What are the benefits of vitamin B12?<br>
<dd>
    Vitamin B12 is required for the development, myelination, and function of the central nervous system,<br>
    red blood cell formation, and DNA synthesis.
</dd>
</p>
<p>How much B12 should I be taking?
    Here are the recommended amounts B12 you should take based off of your gender and age;<br>
    if you are a female, consider, <i>pregnancy and lactation</i><br>
</p>

<table>
    <tr>
        <th>Age</th>    <th>Male</th>   <th>Female</th> <th>Pregnancy</th>  <th>Lactation</th>
    </tr>
    <tr>
        <td>0-6 months</td> <td>0.4 mcg</td>  <td>0.4 mcg</td>   <td>--------</td> <td>--------</td>
    </tr>
    <tr>
        <td>7-12 months</td>    <td>0.5 mcg</td>  <td>0.5 mcg</td><td>--------</td> <td>--------</td>
    </tr>
    <tr>
        <td>1-3 years</td>  <td>0.9 mcg</td>  <td>0.9 mcg</td><td>--------</td> <td>--------</td>
    </tr>
    <tr>
        <td>4-8 years</td>  <td>1.2 mcg</td>  <td>1.2 mcg</td><td>--------</td> <td>--------</td>
    </tr>
    <tr>
        <td>9-13 years</td> <td>1.8 mcg</td>  <td>1.8 mcg</td><td>--------</td> <td>--------</td>
    </tr>
    <tr>
        <td>14-18 years</td>    <td>2.4 mcg</td>  <td>2.4 mcg</td>  <td>2.6 mcg</td>  <td>2.8 mcg</td>
    </tr>
    <tr>
        <td>19+ years</td>    <td>2.4 mcg</td> <td>2.4 mcg</td>   <td>2.6 mcg</td>  <td>2.8 mcg</td>
    </tr>
</table>
<div><i>Note: mcg (microgram) is 1/1000 of a miligram (mg)</i></div>
<p>
<h3>Warnings:</h3>
<div>
    <b>Deficiency of B12:</b>
    <dt>
        Deficiency in vitamin B12 stems from the lack of absorbition of B12 which leads to:<br>
    <dd>
        <li>low counts of red and white blood cells</li>
        <li>weight loss</li>
        <li>megaloblastic anemia</li>
        <li>fatigue</li>
        <li>glossitis of the tongue</li>
        <li>numbness and/or tingling of the hands and/or feet</li>
        <li>infertility</li>
        <li>palpitations</li>
    </dd>
    <dd>
        For the average American, most generally consume over the recommended amount<br>
        and about 25% of men and women over-consume the limit the body can store of vitamin B12.<br>
    </dd>
    </dt>
    <dt>
        Older adults generally have vitamin B12 deficiency
    </dt>
    <b>Consequences of long-term deficiency:</b>
    <dd>
        <li>pernicious anemia</li>
        <li>atrophic gastritis</li>
        <li>helicobacter pylori infection</li>
    </dd>
    <b>Over-consumption of B6:</b>
    <dd>
        <li>stroke</li>
        <li>cardiovascular disease</li>
        <li>increased chances of cancer</li>
        <li>dementia</li>
    </dd>
</div>
</p>
</p>
</body>
</html>